<footer class="blog-footer">
  <div class="container">
    <div id="footer-info" class="inner">
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> • <%= __('source_code_available') %> <a href="https://gitlab.com/strepon/ceskeslovniky.cz" target="_blank"><%= __('gitlab') %></a>
    </div>
  </div>
</footer>
