<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
  <% if (theme.navbar_brand){ %>
    <a class="navbar-brand" href="<%- config.root %>"><%- theme.navbar_brand %></a>
  <% } %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% for (var i in theme.menu){ %>
          <li class="nav-item <%= is_current(theme.menu[i]) ? 'active' : '' %>">
            <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
        <% } %>
      </ul>
  </div>
  </div>
</nav>
